body {
  margin: 0;
  padding: 0;
  font-family: 'Tauri', sans-serif;
  color: #eee;
  background: #222;
  font-size: 11pt;
}

@media screen and (min-width: 600px) {
  body {
    font-size: 14pt;
  }
}
@media screen and (min-width: 750px) {
  body {
    font-size: 16pt;
  }
}
@media screen and (min-width: 950px) {
  body {
    font-size: 18pt;
  }
}
@media screen and (min-width: 1050px) {
  body {
    font-size: 20pt;
  }
}
@media screen and (min-width: 1200px) {
  body {
    font-size: 22pt;
  }
}
@media screen and (min-width: 1350px) {
  body {
    font-size: 24pt;
  }
}
@media screen and (min-width: 1420px) {
  body {
    font-size: 26pt;
  }
}
@media screen and (min-width: 1570px) {
  body {
    font-size: 28pt;
  }
}
@media screen and (min-width: 1750px) {
  body {
    font-size: 30pt;
  }
}
@media screen and (min-width: 1880px) {
  body {
    font-size: 32pt;
  }
}
